header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.azul{
    background-color: #468C98;
}
.celeste{
    background-color: #4d98c7;
}
button.mt-3.btn.celeste.busqueda.text-white:hover{
    color: #4d98c7!important;
    border: 1px solid #4d98c7!important;
}
main {
    min-height: 70vh;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 1.5rem;
}
.input-group-text{
    height: 100%;
    background-color: white;
    border: 0;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    /* border-color: blue!important; */
}

.input-group>input.form-control:focus {
    box-shadow: 0 0 0  0;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.input-group>input{
    border: 0;
    /* border-color: blue!important; */

}
button.btn .btn-danger .btn-delete{
background-image: url(images/trash.png)!important;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
button .busqueda{
    width: inherit!important;
}
.cajaBusqueda{
    position: relative;
    width: 100%;

}
.cajaBusqueda span{
    position: absolute;
    top: 11%;
    left: 2%;
    color: grey;
}